/* Colors */
$Dark: #0E1B24;
$Red: #EB5757;
$LightBlue: #2DBDF9;
$Gray: #7E8F9F;
$Container: #26323A;
$Light: #FFFFFF;
$Hover: rgba(255,255,255,.10);
$Orange: #F2994A;

/* Breakpoints */
$Secure: 1200px;
$Tablet: 500px;
$Desktop: 1000px;

/* Shadows */
$Timer: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
$Blocked: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
$UnBlocked: inset -2px -2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.5);

/* Padding */
$Pd-Mobile: 0 15px;
$Pd-Tablet: 0 30px;
$Pd-Desktop: 0 40px;