/* Colors */
$Dark: #0E1B24;
$Red: #EB5757;
$LightBlue: #2DBDF9;
$Gray: #7E8F9F;
$Container: #26323A;
$Light: #FFFFFF;
$Hover: rgba(255,255,255,.10);
$Orange: #F2994A;

/* Breakpoints */
$Secure: 1200px;
$Tablet: 500px;
$Desktop: 1000px;

/* Padding */
$Pd-Mobile: 0 15px;
$Pd-Tablet: 0 30px;
$Pd-Desktop: 0 40px;