.AccountView {
    &__ProfilePhoto{
        background-color: $Gray;
        border-radius: 20px;
        height: 319px;
        border-radius: 0px 0px 40px 40px;
        display: flex;
        justify-content: center;


        img  {
            position: relative;
            top: 100px;
            padding: 25px 0;
            width: 150px;
            height: 150px;
            border: none;
            border-radius: 27px;
            }
    }

    &__Title,&__Info,&__Ranking,&__Multiplayer{
        background-color: $Dark;
        width: 100%;

        h1  {
            padding: 25px 0;
            max-width: 370px;
            font-size: 24px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 25px;
            }
        h2  {
            padding: 25px 0;
            max-width: 370px;
            font-size: 14px;
            margin: 0 auto;
            margin-bottom: 25px;
            }
    }   
}
