/* Settings */
/* Colors */
/* Breakpoints */
/* Shadows */
/* Padding */
/* Tools */
/*  Generic and ELements */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Generic */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Elements */
html {
  min-height: 100%;
  background-color: #0E1B24;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

p, span, a, label {
  font-weight: 400;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

span {
  color: #0E1B24;
}

img, input, svg, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #616161;
  box-shadow: inset 0 0 5px #616161;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #464646;
}

.ModalCharge {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ModalCharge i {
  color: #FFFFFF;
}

/* Objects */
.l-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 0 15px;
}

.l-contain {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (min-width: 500px) {
  .l-container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1000px) {
  .l-container {
    padding: 0 40px;
  }
}

/* Components */
.Nav {
  height: 70px;
  background-color: #26323A;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 3;
}

.Nav .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Nav a {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav__Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav__Logo img {
  width: 59.43px;
  height: 40px;
  margin-right: 10px;
}

.Nav__Logo p {
  font-weight: 500;
  font-size: 24px;
}

.Nav__List {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Nav__Item {
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Nav__Item p {
  font-size: 16px;
  font-weight: 500;
}

.Nav__Item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.Nav__LogOut {
  padding-left: 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav__LogOut button {
  height: 40px;
  padding: 0 10px;
  background-color: #EB5757;
  border: none;
  border-radius: 10px;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.Nav__LogOut button i {
  color: #FFFFFF;
}

.Nav__LogOut button:hover {
  background-color: #eb5757b7;
}

.Nav__User {
  height: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Nav__UserImg {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  background-color: #0E1B24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav__UserImg img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.Nav__User i {
  color: #FFFFFF;
  margin-right: 10px;
}

.Nav__User p {
  font-size: 16px;
  font-weight: 500;
}

.Nav__User:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.Nav__Play {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

.Nav__Play button {
  height: 40px;
  padding: 0 15px;
  background-color: #2DBDF9;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Nav__Play button:hover {
  background-color: #2dbcf9b9;
}

@media screen and (min-width: 1000px) {
  .Nav {
    display: block;
  }
}

.NavMob {
  height: 50px;
  background-color: #26323A;
  position: fixed;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  top: 0;
  z-index: 3;
  left: 0;
}

.NavMob .BgNav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: none;
}

.NavMob__Drop {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #26323A;
  -webkit-transition: .3s all;
  transition: .3s all;
  max-height: 0px;
  overflow: hidden;
  border: 0;
}

.NavMob__Drop p {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.NavMob__Drop p:last-child {
  border-bottom: none;
}

.NavMob .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.NavMob a {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavMob__Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavMob__Logo img {
  width: 44.57px;
  height: 30px;
}

.NavMob__Logo p {
  font-size: 14px;
  display: none;
  margin-left: 5px;
}

.NavMob__Buttons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.NavMob__Play {
  height: 100%;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavMob__Play button {
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  height: 30px;
  background-color: #2DBDF9;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
}

.NavMob__User {
  height: 100%;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavMob__User i {
  color: #FFFFFF;
}

.NavMob__UserImg {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #0E1B24;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavMob__UserImg img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.NavMob__LogOut {
  height: 100%;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavMob__LogOut button {
  height: 30px;
  padding: 7px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EB5757;
  border: none;
}

.NavMob__LogOut button i {
  color: #FFFFFF;
}

.NavMob__Bars {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavMob__Check {
  width: 30px;
  height: 30px;
  position: relative;
}

.NavMob__Check input, .NavMob__Check i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.NavMob__Check input {
  opacity: 0;
  z-index: 2;
}

.NavMob__Check i.fa-times {
  opacity: 0;
}

.NavMob__Check input:checked ~ i.fa-bars {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
}

.NavMob__Check input:checked ~ i.fa-times {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 1;
}

@media screen and (min-width: 500px) {
  .NavMob__Logo p {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .NavMob {
    display: none;
  }
}

@-webkit-keyframes mineHeaderOne {
  25% {
    -webkit-transform: translate(-15px, 10px) rotate(90deg);
            transform: translate(-15px, 10px) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-5px, 10px) rotate(180deg);
            transform: translate(-5px, 10px) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-15px, 15px) rotate(270deg);
            transform: translate(-15px, 15px) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
            transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes mineHeaderOne {
  25% {
    -webkit-transform: translate(-15px, 10px) rotate(90deg);
            transform: translate(-15px, 10px) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-5px, 10px) rotate(180deg);
            transform: translate(-5px, 10px) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-15px, 15px) rotate(270deg);
            transform: translate(-15px, 15px) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
            transform: translate(0, 0) rotate(360deg);
  }
}

@-webkit-keyframes mineHeaderTwo {
  25% {
    -webkit-transform: translate(-20px, 5px) rotate(90deg);
            transform: translate(-20px, 5px) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-15px, 10px) rotate(180deg);
            transform: translate(-15px, 10px) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-20px, 5px) rotate(270deg);
            transform: translate(-20px, 5px) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
            transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes mineHeaderTwo {
  25% {
    -webkit-transform: translate(-20px, 5px) rotate(90deg);
            transform: translate(-20px, 5px) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-15px, 10px) rotate(180deg);
            transform: translate(-15px, 10px) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-20px, 5px) rotate(270deg);
            transform: translate(-20px, 5px) rotate(270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
            transform: translate(0, 0) rotate(360deg);
  }
}

@-webkit-keyframes numberHeaderOne {
  25% {
    -webkit-transform: translate(-20px, 5px) rotate(15deg);
            transform: translate(-20px, 5px) rotate(15deg);
  }
  50% {
    -webkit-transform: translate(-15px, 10px) rotate(10deg);
            transform: translate(-15px, 10px) rotate(10deg);
  }
  75% {
    -webkit-transform: translate(-20px, 5px) rotate(-10deg);
            transform: translate(-20px, 5px) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes numberHeaderOne {
  25% {
    -webkit-transform: translate(-20px, 5px) rotate(15deg);
            transform: translate(-20px, 5px) rotate(15deg);
  }
  50% {
    -webkit-transform: translate(-15px, 10px) rotate(10deg);
            transform: translate(-15px, 10px) rotate(10deg);
  }
  75% {
    -webkit-transform: translate(-20px, 5px) rotate(-10deg);
            transform: translate(-20px, 5px) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}

@-webkit-keyframes numberHeaderTwo {
  25% {
    -webkit-transform: translate(-5px, 5px) rotate(10deg);
            transform: translate(-5px, 5px) rotate(10deg);
  }
  50% {
    -webkit-transform: translate(-10px, 20px) rotate(-5deg);
            transform: translate(-10px, 20px) rotate(-5deg);
  }
  75% {
    -webkit-transform: translate(-25px, 10px) rotate(20deg);
            transform: translate(-25px, 10px) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes numberHeaderTwo {
  25% {
    -webkit-transform: translate(-5px, 5px) rotate(10deg);
            transform: translate(-5px, 5px) rotate(10deg);
  }
  50% {
    -webkit-transform: translate(-10px, 20px) rotate(-5deg);
            transform: translate(-10px, 20px) rotate(-5deg);
  }
  75% {
    -webkit-transform: translate(-25px, 10px) rotate(20deg);
            transform: translate(-25px, 10px) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}

.Header .l-contain {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}

.Header__Mine, .Header__Number {
  position: absolute;
}

.Header__Number {
  font-weight: 900;
  font-size: 72px;
  color: rgba(255, 255, 255, 0.1);
}

.Header__Mine:first-child {
  top: 10px;
  right: 10px;
  -webkit-animation: mineHeaderOne 15s linear infinite;
          animation: mineHeaderOne 15s linear infinite;
}

.Header__Mine:nth-child(2) {
  top: 89px;
  right: 140px;
  -webkit-animation: mineHeaderTwo 15s linear infinite;
          animation: mineHeaderTwo 15s linear infinite;
}

.Header__Mine:nth-child(3) {
  bottom: 30px;
  right: 0;
  -webkit-animation: mineHeaderTwo 15s linear infinite;
          animation: mineHeaderTwo 15s linear infinite;
}

.Header__Mine:nth-child(4) {
  opacity: 0;
}

.Header__Mine:nth-child(5) {
  opacity: 0;
}

.Header__Mine:nth-child(6) {
  opacity: 0;
}

.Header__Mine:nth-child(7) {
  opacity: 0;
}

.Header__Number:nth-child(8) {
  bottom: 30px;
  right: 132px;
  -webkit-animation: numberHeaderOne 15s linear infinite;
          animation: numberHeaderOne 15s linear infinite;
}

.Header__Number:nth-child(9) {
  opacity: 1;
  top: 115px;
  right: 0;
  -webkit-animation: numberHeaderTwo 15s linear infinite;
          animation: numberHeaderTwo 15s linear infinite;
}

.Header__Number:nth-child(10) {
  opacity: 0;
}

.Header__Number:nth-child(11) {
  opacity: 0;
}

.Header__Content h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

.Header__Content p {
  font-weight: 400;
  font-size: 14px;
  width: 262px;
  margin-bottom: 25px;
}

.Header__Content button {
  height: 40px;
  padding: 0 15px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background-color: #2DBDF9;
  cursor: pointer;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Header__Content button:hover {
  background-color: #2dbcf9b9;
}

@media screen and (min-width: 500px) {
  .Header .l-contain {
    padding: 68px 0 90px;
  }
  .Header__Mine:first-child {
    top: 30px;
    right: 70px;
    -webkit-animation: mineHeaderOne 15s linear infinite;
            animation: mineHeaderOne 15s linear infinite;
  }
  .Header__Mine:nth-child(2) {
    top: 10px;
    right: 200px;
    -webkit-animation: mineHeaderTwo 15s linear infinite;
            animation: mineHeaderTwo 15s linear infinite;
  }
  .Header__Mine:nth-child(3) {
    bottom: 30px;
    right: 70px;
    -webkit-animation: mineHeaderTwo 15s linear infinite;
            animation: mineHeaderTwo 15s linear infinite;
  }
  .Header__Mine:nth-child(4) {
    opacity: 1;
    top: 20px;
    left: 140px;
    -webkit-animation: mineHeaderTwo 15s linear infinite;
            animation: mineHeaderTwo 15s linear infinite;
  }
  .Header__Mine:nth-child(5) {
    opacity: 1;
    bottom: 70px;
    left: 100px;
    -webkit-animation: mineHeaderTwo 15s linear infinite;
            animation: mineHeaderTwo 15s linear infinite;
  }
  .Header__Number:nth-child(8) {
    top: 130px;
    right: 50px;
  }
  .Header__Number:nth-child(9) {
    opacity: 0;
  }
  .Header__Number:nth-child(10) {
    opacity: 1;
    top: 80px;
    left: 70px;
    -webkit-animation: numberHeaderTwo 15s linear infinite;
            animation: numberHeaderTwo 15s linear infinite;
  }
  .Header__Number:nth-child(11) {
    opacity: 1;
    bottom: 20px;
    left: 220px;
    -webkit-animation: numberHeaderTwo 15s linear infinite;
            animation: numberHeaderTwo 15s linear infinite;
  }
  .Header__Content {
    max-width: 421px;
    margin: 0 auto;
  }
  .Header__Content h1 {
    font-size: 36px;
    margin-bottom: 22px;
    text-align: center;
  }
  .Header__Content p {
    margin-bottom: 33px;
    text-align: center;
    width: 100%;
  }
  .Header__Content button {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .Header .l-contain {
    padding: 112px 0 79px;
  }
  .Header__Mine:nth-child(1) {
    top: 50px;
    right: 160px;
  }
  .Header__Mine:nth-child(2) {
    top: 5px;
    right: 400px;
  }
  .Header__Mine:nth-child(3) {
    bottom: 100px;
    right: 140px;
  }
  .Header__Mine:nth-child(4) {
    top: 20px;
    left: 170px;
    opacity: 1;
  }
  .Header__Mine:nth-child(5) {
    bottom: 60px;
    left: 290px;
    opacity: 1;
  }
  .Header__Mine:nth-child(6) {
    opacity: 1;
    -webkit-animation: mineHeaderTwo 15s linear infinite;
            animation: mineHeaderTwo 15s linear infinite;
    bottom: 140px;
    left: 100px;
  }
  .Header__Mine:nth-child(7) {
    opacity: 1;
    bottom: 60px;
    right: 330px;
    -webkit-animation: mineHeaderOne 15s linear infinite;
            animation: mineHeaderOne 15s linear infinite;
  }
  .Header__Number:nth-child(8) {
    opacity: 1;
    top: 175px;
    right: 140px;
  }
  .Header__Number:nth-child(9) {
    opacity: 1;
    top: 90px;
    right: 300px;
  }
  .Header__Number:nth-child(10) {
    opacity: 1;
    top: 160px;
    left: 210px;
  }
  .Header__Number:nth-child(11) {
    opacity: 1;
    top: 70px;
    left: 300px;
  }
  .Header__Content {
    max-width: 596px;
  }
  .Header__Content h1 {
    font-size: 50px;
    margin-bottom: 27px;
  }
  .Header__Content p {
    font-size: 18px;
    margin-bottom: 35px;
  }
}

.HowToPlay {
  background-color: #26323A;
}

.HowToPlay .l-contain {
  padding: 35px 0;
}

.HowToPlay__Title {
  margin-bottom: 39px;
}

.HowToPlay__Title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.HowToPlay__Title hr {
  display: block;
  width: 100px;
  border: none;
  height: 5px;
  background-color: #FFFFFF;
  margin: 5px auto 0;
}

.HowToPlay__Description {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 957px;
  margin: 0 auto 30px;
}

.HowToPlay__Grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.HowToPlay__Item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  grid-gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.HowToPlay__Item i {
  color: #2DBDF9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.HowToPlay__Item p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 14px;
}

@media screen and (min-width: 1000px) {
  .HowToPlay__Grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .HowToPlay__Item:nth-child(2) {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.Modes {
  padding: 35px 0;
}

.Modes__Title {
  margin-bottom: 30px;
}

.Modes__Title p {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5px;
}

.Modes__Title hr {
  display: block;
  width: 100px;
  height: 5px;
  border: none;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.Modes__Grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.Modes__Card {
  width: 100%;
  background-color: #26323A;
  border-radius: 15px;
  padding: 20px;
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
}

.Modes__Card img {
  width: 80%;
  margin: 15px 0 10px;
}

.Modes__Card i {
  display: block;
  text-align: center;
  margin: 15px 0 10px;
  color: #2DBDF9;
}

.Modes__Card h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.Modes__Card p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  max-width: 275px;
  margin: 0 auto 20px;
}

.Modes__Card button {
  height: 40px;
  padding: 0 15px;
  border-radius: 10px;
  border: none;
  background-color: #2DBDF9;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  -webkit-transition: .3s all;
  transition: .3s all;
  margin-bottom: 15px;
  cursor: pointer;
}

.Modes__Card button:hover {
  background-color: #2dbcf9b9;
}

@media screen and (min-width: 1000px) {
  .Modes__Grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.Contact {
  background-color: #26323A;
}

.Contact .l-contain {
  padding: 35px 0;
}

.Contact__Title {
  margin-bottom: 20px;
}

.Contact__Title h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.Contact__Title hr {
  display: block;
  width: 100px;
  height: 5px;
  border: none;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.Contact__Form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.Contact__Form input[type="text"], .Contact__Form input[type="email"], .Contact__Form textarea {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
}

.Contact__Form input[type="text"]:focus:valid, .Contact__Form input[type="email"]:focus:valid, .Contact__Form textarea:focus:valid {
  -webkit-box-shadow: 0 0 5px 2px #5de65d;
          box-shadow: 0 0 5px 2px #5de65d;
}

.Contact__Form input[type="text"]:focus:invalid, .Contact__Form input[type="email"]:focus:invalid, .Contact__Form textarea:focus:invalid {
  -webkit-box-shadow: 0 0 5px 2px #EB5757;
          box-shadow: 0 0 5px 2px #EB5757;
}

.Contact__Form textarea {
  height: 200px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.Contact__Form input[type="submit"] {
  display: block;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #2DBDF9;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.Contact__Form input[type="submit"]:hover {
  background-color: #2dbcf9b9;
}

.Footer {
  background-color: black;
  height: 50px;
}

.Footer .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer .l-contain p {
  font-size: 18px;
}

.Slide {
  width: 100%;
  height: 100%;
  background-color: #0E1B24;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 190px;
      grid-template-rows: 1fr 190px;
}

.Slide__Img {
  width: 100%;
  height: 100%;
  background-color: #26323A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Slide__Img img {
  width: 100%;
  max-width: 270px;
}

.Slide__Img .is-multiplayer {
  max-width: 500px;
}

.Slide__Img .is-ranking {
  max-width: 384px;
}

.Slide__Info {
  padding: 20px;
}

.Slide__Info h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.Slide__Info p {
  font-size: 14px;
  font-weight: 600px;
  text-align: center;
}

.Slide.is-mobile {
  -ms-grid-rows: 1fr 250px;
      grid-template-rows: 1fr 250px;
}

.Slide.is-mobile .Slide__Img {
  padding: 20px;
}

.LogNav {
  background-color: #26323A;
  height: 50px;
  position: fixed;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
}

.LogNav .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.LogNav a {
  display: block;
  height: 100%;
}

.LogNav__Logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LogNav__Logo img {
  width: 44.57px;
  height: 30px;
  margin-right: 10px;
}

.LogNav__Logo p {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 1000px) {
  .LogNav {
    height: 70px;
  }
  .LogNav__Logo img {
    width: 59.43px;
    height: 40px;
  }
  .LogNav__Logo p {
    font-size: 24px;
    font-weight: 500;
  }
}

.Ranking .l-contain {
  padding: 35px 0;
}

.Ranking__Title {
  padding: 0 35px;
  position: relative;
}

.Ranking__Title h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.Ranking__Title div {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #FFFFFF;
}

.Ranking__Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.Ranking__Info p {
  font-size: 24px;
  font-weight: 500;
}

.Ranking__Img {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.Ranking__Img img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.Ranking__Best {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Ranking__Content {
  width: 100%;
  max-width: 715px;
  margin: 0 auto;
}

.Ranking__GameInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.Ranking__Timer {
  width: 208px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.Ranking__Timer i {
  color: #1E81AA;
  margin-right: 10px;
}

.Ranking__Timer p {
  color: #1E81AA;
  font-size: 32px;
  font-weight: 500;
}

.Ranking__Button-Mines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Ranking__Button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #2DBDF9;
  -webkit-transition: .3s all;
  transition: .3s all;
  margin-right: 27px;
}

.Ranking__Button i {
  color: #FFFFFF;
}

.Ranking__Button:hover {
  background-color: #1E81AA;
}

.Ranking__Mines {
  width: 150px;
  height: 70px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Ranking__Mines img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.Ranking__Mines p {
  color: #1E81AA;
  font-size: 32px;
  font-weight: 500;
}

.Table {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: (40px)[16];
      grid-template-rows: repeat(16, 40px);
  grid-gap: 5px;
}

.Box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Box.is-blocked {
  background-color: #2DBDF9;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
}

.Box.is-unblocked {
  background: none;
  -webkit-box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Box.is-unblocked span {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}

.Box.is-safe {
  background-color: #7E8F9F;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
}

.Box.is-safe i {
  color: #0E1B24;
}

.Box.is-bomb {
  background-color: #EB5757;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(255, 255, 255, 0.25);
}

.Box.is-bomb img {
  width: 25px;
  height: 25px;
}

.RankingBox {
  position: fixed;
  top: 70px;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.RankingBox__Title {
  font-size: 24px;
  margin-bottom: 10px;
}

.RankingBox__Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.RankingBox__Item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 50px;
      grid-template-columns: 40px 1fr 50px;
  padding: 15px 0;
  grid-gap: 10px;
}

.RankingBox__Img {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 5px;
}

.RankingBox__Img img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.RankingBox__Img i {
  color: #FFFFFF;
}

.RankingBox__Username {
  color: #FFFFFF;
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.RankingBox__Time {
  color: #FFFFFF;
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Pages */
.HomeView {
  padding-top: 50px;
}

.HomeView__Back {
  position: fixed;
  z-index: 2;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 50px;
  background-color: #F2994A;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.HomeView__Back p {
  font-size: 18px;
  font-weight: bold;
}

.HomeView__Back:hover {
  background-color: rgba(242, 153, 74, 0.8);
}

@media screen and (min-width: 1000px) {
  .HomeView {
    padding-top: 70px;
  }
}

.LogView {
  padding-top: 50px;
}

@media screen and (min-width: 1000px) {
  .LogView {
    padding-top: 70px;
  }
  .LogView__Content {
    padding: 40px 15px;
  }
  .LogView__Form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.LogForm {
  width: 100%;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.LogForm__Img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LogForm__Img i {
  color: #FFFFFF;
}

.LogForm__Img img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.LogForm__File {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

.LogForm__File input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.LogForm__File button {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.LogForm__File button i {
  margin-right: 5px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.LogForm__File button p {
  font-size: 16px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.LogForm__File input[type="file"]:hover ~ button {
  background-color: #FFFFFF;
  color: black;
}

.LogForm__Input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0 20px;
  font-size: 16px;
}

.LogForm__Input:focus:valid {
  -webkit-box-shadow: 0 0 5px 2px #5de65d;
          box-shadow: 0 0 5px 2px #5de65d;
}

.LogForm__Input:focus:invalid {
  -webkit-box-shadow: 0 0 5px 2px #EB5757;
          box-shadow: 0 0 5px 2px #EB5757;
}

.LogForm__Submit {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #2DBDF9;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.LogForm__Submit:hover {
  background-color: #2dbcf9b9;
}

.LogForm__Link {
  color: #2DBDF9;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.LogForm__Link:hover {
  color: #2dbcf9b9;
}

@media screen and (min-width: 1000px) {
  .LogForm {
    background-color: #26323A;
    border-radius: 15px;
  }
}

.AccountView {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.AccountView__ProfilePhoto {
  background-color: #7E8F9F;
  border-radius: 20px;
  height: 319px;
  border-radius: 0px 0px 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AccountView__ProfilePhoto img {
  width: 100%;
  max-width: 150px;
  max-height: 100%;
  border: none;
  border-radius: 27px;
}

.AccountView__Title {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}

.AccountView__Info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 15px;
}

.AccountView__Info h1 {
  font-size: 30px;
}

.AccountView__Info h2 {
  font-size: 18px;
}
/*# sourceMappingURL=index.css.map */